* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 240px;
}

.css-efmfwx-className {
  border: none;

  &:focus {
    box-shadow: none !important;
  }
}

// Yandex Fonts

@font-face {
  font-family: 'Yandex Sans Display';
  font-weight: 700;
  font-style: normal;
  src: local('Yandex Sans Display'),
    url('~assets/font/YandexSansDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Yandex Sans Display';
  font-weight: 300;
  font-style: normal;
  src: local('Yandex Sans Display'),
    url('~assets/font/YandexSansDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: 'Yandex Sans Display';
  font-weight: 400;
  font-style: normal;
  src: local('Yandex Sans Display'),
    url('~assets/font/YandexSansDisplay-Regular.woff') format('woff');
}
