* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 240px;
}
