/* @font-face {
  font-family: 'Yandex Sans Display';
  src: url('@/font/bold.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'Yandex Sans Display';
  src: url('@/font/bold.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'Yandex Sans Display';
  src: url('@/font/regular.ttf') format('truetype');
} */

/* body {
  font-family: 'Yandex Sans Display';
} */
